{# Shell fragment: register the single shared filesystem binary cache. #}
spack -e {{ spack_env_name }} mirror add --scope env:{{ spack_env_name }} --unsigned binary-cache \
        file:///opt/spack-buildcache
